* {
    margin: 0;
    padding: 0px;
}

.encabezado {
    background-color: rgb(0, 0, 0);
}

.encabezado .logo {
    float: left;
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 55px;
    padding-right: 500px;
}

.encabezado .logo:hover {
    color: cyan;
    box-shadow: none;
}

.encabezado nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.encabezado nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    display: block;
}

.encabezado nav ul li a:hover {
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
}

.encabezado nav ul li ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgb(253, 253, 253);
}

.encabezado nav ul li ul {
    display: none;
}

.encabezado nav ul li:hover>ul {
    display: block;
}

.encabezado nav ul li {
    opacity: 1;
    visibility: visible;
}

.encabezado nav ul li {
    margin: 0 5px;
    display: inline-block;
    background-color: black;
}

.encabezado ul ul li a:hover {
    color: cyan;
    box-shadow: none;
}

.encabezado ul ul {
    border-top: 3px solid cyan;
    position: absolute;
    top: 70px;
    transition: .4s;
}

.encabezado ul ul li {
    position: relative;
    margin: 0px;
    width: 160px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgb(46, 177, 160);
}

.encabezado nav ul ul ul li {
    position: relative;
    top: -76px;
    left: 161px;
    border-top: 3px solid rgb(221, 218, 24);
}

#lateral {
    width: 400px;
    height: 530px;
    background: rgb(0, 0, 0);
    margin: 20px 500px;
    box-shadow: 7px 10px 37px rgb(107, 107, 104);
    padding: 20px 30px;
    border-top: 4px solid cyan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.formapro h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

#lateral-1 {
    float: left;
    background-color: rgb(0, 0, 0);
    border: 1px;
    border-radius: 6px;
    margin: 1%;
    -webkit-border-radius: 10px;
    padding: 12px;
    width: 18vw;
    color: white;
    text-align: none;
}

#lateral1 {
    width: 400px;
    height: 600px;
    background: rgb(0, 0, 0);
    margin: 20px 500px;
    box-shadow: 7px 10px 37px rgb(107, 107, 104);
    padding: 20px 30px;
    border-top: 4px solid cyan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.formacli h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

#lateral1-1 {
    float: left;
    background-color: rgb(0, 0, 0);
    border: 1px;
    border-radius: 6px;
    margin: 1%;
    -webkit-border-radius: 10px;
    padding: 12px;
    width: 15vw;
    color: white;
    text-align: none;
}

#lateral2 {
    width: 400px;
    height: 600px;
    background: rgb(0, 0, 0);
    margin: 20px 500px;
    box-shadow: 7px 10px 37px rgb(107, 107, 104);
    padding: 20px 30px;
    border-top: 4px solid cyan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.formcompras h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.nuevaorden #lateral2-1 {
    float: left;
    background-color: rgb(0, 0, 0);
    border: 1px;
    border-radius: 6px;
    margin: 1%;
    -webkit-border-radius: 10px;
    padding: 10px;
    width: 20vw;
    color: white;
    text-align: none;
}

#lateral3 {
    width: 400px;
    height: 505px;
    background: rgb(0, 0, 0);
    margin: 20px 500px;
    box-shadow: 7px 10px 37px rgb(107, 107, 104);
    padding: 20px 30px;
    border-top: 4px solid cyan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.formacli h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.form-register {
    width: 400px;
    height: 800px;
    background: rgb(0, 0, 0);
    margin: 20px 500px;
    box-shadow: 7px 10px 37px rgb(107, 107, 104);
    padding: 20px 30px;
    border-top: 4px solid cyan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.form-register h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.form-register p {
    height: 40px;
    text-align: center;
}

.form-register a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-register a:hover {
    text-decoration: underline;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.forminiciosesion {
    width: 400px;
    height: 340px;
    background: rgb(0, 0, 0);
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 10px 37px rgb(107, 107, 104);
    padding: 20px 30px;
    border-top: 4px solid cyan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.forminiciosesion h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls {
    width: 100%;
    border: solid 1px cyan;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.buttons {
    width: 100%;
    height: 40px;
    background: cyan;
    border: none;
    color: rgb(0, 0, 0);
    margin-bottom: 16px;
}

.forminiciosesion p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.forminiciosesion a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.forminiciosesion a:hover {
    text-decoration: underline;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formregistro {
    width: 400px;
    height: 480px;
    background: rgb(0, 0, 0);
    margin: 20px 500px;
    box-shadow: 7px 10px 37px rgb(107, 107, 104);
    padding: 20px 30px;
    border-top: 4px solid cyan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.formregistro h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls {
    width: 100%;
    border: solid 1px cyan;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.buttons {
    width: 100%;
    height: 40px;
    background: cyan;
    border: none;
    color: rgb(0, 0, 0);
    margin-bottom: 16px;
}

.formregistro p {
    height: 65px;
    text-align: center;
    border-bottom: 1px solid;
}

.formregistro a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

h2:hover {
    color: cyan;
}